@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #F8F9FA;
  --foreground: #111111;
  --scrollbar: #facc15;
  --page-width: 2400px;
  /* default content width */
  --page-gutter: 0px;
  /* SSR fallback before JS runs */
  --page-max: min(var(--page-width), calc(100vw - 2*var(--page-gutter)));
}

/* Utilities to reuse everywhere */
@layer utilities {
  .app-container {
    max-width: var(--page-max);
    margin-inline: auto;
    padding-inline: var(--page-gutter);
  }

  .app-gx {
    /* only horizontal padding by gutter */
    padding-inline: var(--page-gutter);
  }

  .app-mx {
    /* rarely needed, horizontal margin */
    margin-inline: var(--page-gutter);
  }
}

.dark {
  --background: #0A0A0A;
  --foreground: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-sans, sans-serif); */
}

.scrollbar-thin-yellow::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin-yellow::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin-yellow::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  /* Tailwind yellow-400 */
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  /* border: 2px solid #f1f1f1; */
}

.scrollbar-filter::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-filter::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 10px;
}

.scrollbar-filter::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
}

.prose a {
  @apply text-blue-500 hover:underline;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.offer-html-wrapper table {
  width: 100% !important;
  border-collapse: collapse;
  animation: fadeIn 0.6s ease-in-out;
}

.offer-html-wrapper table td,
.offer-html-wrapper table th {
  width: auto !important;
  white-space: normal !important;
}