@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F8F9FA;
  color: black;
  /* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.swiper-custom-bullet {
  width: 60px;
  height: 3px;
  border-radius: 9999px;
  background-color: #B3B3B3;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 0px;
}

.swiper-custom-bullet-active {
  background-color: #FFCC00;
  height: 5px;
  width: 60px;
}

.custom-select {
  width: 100%;
  position: relative;
}

.select-box {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  /* border-radius: 6px; */
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 6px 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 40;
}

.search-box {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
}

.options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option-item {
  padding: 10px;
  cursor: pointer;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.no-option {
  padding: 10px;
  color: #888;
  font-style: italic;
}

.arrow {
  font-size: 12px;
  margin-left: 5px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}