@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F8F9FA;
  color: black;
  /* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.scrollbar-thin-yellow::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin-yellow::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin-yellow::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Tailwind yellow-400 */
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #FFCC00;
  /* border: 2px solid #f1f1f1; */
}