.dropdown {
  /* Scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #facc15 transparent;
}

.no-option {
  padding: 10px;
  color: #888;
  font-style: italic;
}

.arrow {
  font-size: 12px;
  margin-left: 5px;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.dropdown::-webkit-scrollbar {
  width: 6px;
}

.dropdown::-webkit-scrollbar-track {
  background: black;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Tailwind yellow-400 */
  border-radius: 9999px;
}